<br><br>
<div class="container">
    <img src="assets/images/wh1-min.jpg" style="width:500px;height:500px;" class="image">
    <!-- <img src="assets/images/wh4-min.jpg" style="width:500px;height:500px;"> -->
    <div class="middle">
        <div class="text">
            <h1>Western Wear</h1>
            <p>Color-<b>BLUE</b> Type-<b>FROCK</b></p>
            <!-- <p>Cost-<b><font color="red"></font></b></p></div> -->
        </div>
    </div>
    <br>
    <!-- <div class="container">
        <img src="assets/images/wh4-min.jpg" style="width:500px;height:500px;" class="image">
        <div class="middle">
            <div class="text">
                <h1>Ethnic Wear</h1>
                <p>Color-<b>Gold and Red</b> Type-<b>Lehanga</b></p>
            </div>
        </div>
    </div> -->